<div class="center hero-unit">
  <h1>Think Through Math Directory</h1>

  <h2>
    You may now stalk that stranger you see in the office
  </h2>

  <% if flash[:error] %>
      <p class="error"><%= flash[:error] %></p>
  <% end %>

  <div class="row">
    <div class="span6 offset3">
      <%= form_for(:session, url: sessions_path) do |f| %>

        <%= f.label :email %>
        <%= f.text_field :email %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
      <% end %>
      <%= link_to "New User? Sign up!", signup_path, class: "btn btn-large" %>
    </div>
  </div>
</div>