<% provide(:title, 'Directory') %>
<h1>Directory</h1>

<%= will_paginate %>

<ul class="users">
  <div id="parent">
  <% @users.each do |user| %>
  <div>
		<%= image_tag user.avatar.url(:small) %>
    <li>
      <%= link_to user.name, user%>
    </li>
    <li>
      <%= user.email %>
    </li>
    <li>
      <%= "Group: " + user.group %>
    </li>
    <li>
      <%= "Location: " + (user.location || "") %>
    </li>
  </div>
  <% end %>
</div>
</ul>

<%= will_paginate %>