<% provide(:title, 'Directory') %>
<h1>Directory</h1>

<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
    <!-- <li>
      <%= image_tag user.avatar.url(:thumb) %>
      <%= link_to user.name, user %>
      <%= link_to user.email, user%>
    </li> -->
		<%= image_tag user.avatar.url(:small) %>
        <li>
          <%= link_to user.name, user%>
        </li>
        <li>
          <%= user.email %>
        </li>
        <li>
          <%= "Group: " + user.group %>
        </li>
        <li>
          <%= "Location: " + (user.location || "") %>
        </li>
  <% end %>
</ul>

<%= will_paginate %>