<% provide(:title, 'Add A New Thinker!') %>
<h1>Add A New Thinker!</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for @user, :url => users_path, :html => { :multipart => true } do |f| %>
      <%= render 'shared/error_messages' %>
      
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :group %>
      <%= f.collection_select :group, Article::GROUPS, :to_s, :to_s, :include_blank => true %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.file_field :avatar %>

      <%= f.submit "Add Thinker", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>