<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <!%= image_tag @user.avatar.url %>
		    <%= image_tag @user.avatar.url(:medium) %>
		    <!%= image_tag @user.avatar.url(:thumb) %>
        <li>
          <%= @user.name %>
        </li>
        <li>
          <%= @user.email %>
        </li>
        <li>
          <%= "Group: " + @user.group %>
        </li>
        <li>
          <%= "Location: " + (@user.location || "") %>
        </li>
        <% if current_user?(@user) %>
          <li>
            <%= link_to "Edit Profile", edit_user_path(current_user) %>
          </li>
        <% end %>
      </h1>
    </section>
  </aside>
</div>